<div class="container">
  <div class="field-container">
    <div>
      <h4 class="header">Nome</h4>
      <div class="field-group">
        <input id="nameInput" class="text-input" placeholder="Nome" />
      </div>
    </div>

    <div>
      <h4 class="header">Valor</h4>
      <div class="field-group">
        <input id="bountyInput" class="text-input" type="number" placeholder="Valor" />
      </div>
    </div>

    <div>
      <h4 class="header">Condição</h4>
      <div class="field-group">
        <condition-select id="conditionSelect" class="w-100"></condition-select>
      </div>
    </div>

    <div>
      <h4 class="header">Descrição</h4>
      <div class="field-group">
        <input id="description1Input" class="text-input" placeholder="Descrição 1" />
      </div>
      <div class="field-group">
        <input id="description2Input" class="text-input" placeholder="Descrição 2" />
      </div>
      <div class="field-group">
        <input id="description3Input" class="text-input" placeholder="Descrição 3" />
      </div>
    </div>

  </div>
  <div class="action-container">
    <button id="closeButton" class="close-button" aria-label="Close edit panel button" title="Close"></button>
    <button id="resetButton" class="wood-button" aria-label="Reset button"
      title="Reset to default settings.">RESETAR</button>
  </div>
</div>